

.button{
  padding: 1px;
  margin: 3px;
  align-items: center;
}

.card {
  display: flexbox;
  grid-template-rows: max-content;
  max-width: 400px;
 
  margin-top: 5vh;
  background-color: rgb(200, 195, 246);
  border: 4px solid #17ae35;
  padding: 8px;
  border-radius: 12px;
  padding: 16px 8px 8px 8px;
}

.p{
    font-size: 14px;
    color: #040404;
    line-height: 5%;
}

.t{
  font-size: 20px;
}

.arcadeimg{
  width: 400px;
  height: auto;
}

.app-header {
  background-color: rgb(200, 195, 246);
  min-height: flex;
  display: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(2, 2, 2);
  border: 4px solid #17ae35;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(9, 23, 223, 0.2);
  transition: 0.3s;
  border-radius: 12px;
  font-size: 15px;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: #a91998;
  font-size: 18px;
}